.Rproj.user
.Rhistory
.RData
.Ruserdata
Data
BCI.html
Background.html
Citations.html
CopyOfLandbirds Trend SummaryTabsetbkp.Rmd
Effort.html
Fig1.png
Fig2.pdf
Fig3.jpg
Fig3.pdf
Fig4.jpg
Fig4.pdf
Fig5.png
Fig6.pdf
Landbirds summaryTemplate.Rmd
Landbirds-Trend-SummaryTabset.html
Landbirds-Trend-SummaryTabset02162021_files
Landbirds-Trend-SummaryTabset_cache
Landbirds-Trend-SummaryTabset_files
Landbirds-summaryMORR.html
Landbirds-summaryTemplate.html
Landbirds-summaryTemplate_cache
Landbirds-summaryTemplate_files
Literature CIted.html
Methods.html
ah_small_black.gif
comparetoVTFBMP.xlsx
custom_styles.css
footer.html
header_manual.html
landbirdTrendSummary.Rproj
richness per park.xlsx
spaghetti-plot.pdf
trendBCIRelationship.jpg
trendBCIRelationship.pdf
